{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block tittle %}Mero Pasal{% endblock tittle %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="{% static 'css/dist/style.css' %}">
		{% tailwind_css %}
	</head>

	<body class="flex flex-col min-h-screen">
		<header>
			<div> {% block navbar %}{% endblock navbar %}</div>
		</header>
		<main class="flex-grow">
			<div> {% block content %}{% endblock content %}</div>
		</main>
		<footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 dark:bg-gray-800 dark:border-gray-600 text-white">
			<div class= "text-center">
				Made with ❤️ by Saiman Khatiwada
			</div>
		</footer>

	</body>
</html>
